* {
	margin: 0;
	padding: 0;
	font-family: "宋体";
	font-size: 12px;
	color: #333;
	list-style: none;
}

a {
	text-decoration: none;
}

a img {
	border: 0;
}

a:hover {
	color: #FF7700;
}

.over {
	overflow: hidden;
	zoom: 1;
}

.top {
	background-color: #f5f5f5;
	padding: 10px 0;
}

.topcon {
	width: 1190px;
	margin: 0 auto;
}

.topleft {
	float: left;
}

.topright {
	float: right;
}

.link {
	float: left;
	width: 65px;
	line-height: 16px;
}

.sina {
	float: left;
	width: 16px;
	margin-right: 10px;
}

.weibo {
	float: left;
	width: 16px;
	margin-right: 10px;
}

.weixin {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../img/whole.png) no-repeat -42px 0;
}

.add {
	background-color: #DF2B37;
	text-align: center;
}

.content {
	width: 1190px;
	margin: 0 auto;
}

.first {
	margin-top: 15px;
}

.logo {
	float: left;
	width: 200px;
	margin-right: 160px;
}

.logo img {
	width: 200px;
	height: 80px;
}

.search {
	float: left;
	width: 495px;
	margin-top: 15px;
}

.searchcon input[type="text"] {
	float: left;
	width: 380px;
	height: 38px;
	border: 2px solid #FF7700;
	padding-left: 15px;
	font-size: 14px;
}

.searchcon input[type="submit"] {
	float: left;
	width: 95px;
	height: 42px;
	background-color: #FF7700;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
}

.hot {
	margin-top: 10px;
}

.hot a {
	display: inline-block;
	margin-right: 10px;
}

.hot a:first-child,
.hot a:nth-child(5) {
	color: #FF7700;
}

.car {
	float: right;
	width: 180px;
}

.nav {
	background-color: #FF7700;
	height: 45px;
	position: relative;
	margin-top: 25px;
}

.nav li {
	float: left;
}

.nav li:first-child {
	width: 200px;
	background-color: #1D7AD9;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
}

.nav li a {
	display: inline-block;
	padding: 0 35px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
}

.nav li.current a,
.nav li a:hover {
	background-color: #F15500;
}

.nav li:last-child {
	display: inline-block;
	width: 25px;
	height: 14px;
	background: url(../img/whole.png) no-repeat -154px 0;
	position: absolute;
	top: 5px;
	right: 225px;
}

.subnav {
	float: left;
	width: 196px;
	border: 2px solid #1D7AD9;
	margin-right: 10px;
}

.subnavcon {
	border-bottom: 1px dashed #ddd;
	position: relative;
}

.subnavcon dl {
	padding: 11px 15px;
}

.subnavcon dl dt {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #1D7AD9;
	background: url(../img/ico3.png) no-repeat right center;
}

.subnavcon dl dd {
	line-height: 22px;
	margin-top: 10px;
}

.subnavcon dl dd a {
	display: inline-block;
	margin-right: 10px;
}

.subno {
	z-index: 999;
	display: none;
	position: absolute;
	left: 196px;
	top: 0;
	border: 2px solid #1D7AD9;
	padding: 20px;
	background-color: #fff;
}

.subnavcon:hover .subno {
	display: block;
}

.subnavcon:hover dl {
	background-color:#D49CC8 ;
	cursor: pointer;
}

.subnavcon:hover dl a {
	color: #fff;
}

.subnavcon:hover dl dt {
	color: #fff;
	background: url(../img/ico4.png) no-repeat right center;
}

.banner {
	float: left;
	width: 755px;
	height: 353px;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}

.banspan {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.banspan span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #000;
	border-radius: 100%;
	text-align: center;
	line-height: 18px;
	color: #fff;
	margin-right: 10px;
}

.banspan span:hover,
.banspan span.current {
	background-color: #f70;
	cursor: pointer;
}

.fuli {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-top: 2px solid #F5619C;
}

.left {
	float: left;
	width: 250px;
	height: 485px;
	overflow: hidden;
	position: relative;
}

.leftspan {
	position: absolute;
	left: 70px;
	bottom: 50px;
}

.leftspan span {
	display: inline-block;
	width: 30px;
	height: 4px;
	background-color: #000;
	margin-right: 10px;
}

.leftspan span.current,
.leftspan span:hover {
	background-color: #f70;
	cursor: pointer;
}

.middle {
	float: left;
	height: 485px;
	border-right: 1px solid #ddd;
	width: 712px;
	padding-left: 15px;
}

.middle dl {
	float: left;
	width: 160px;
	margin-right: 16px;
	margin-top: 20px;
}

.middle dl dt img {
	width: 160px;
	height: 160px;
}

.middle dl dd {
	line-height: 24px;
}

.middle dl strong {
	color: #f70;
}